.navbar {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-family: 'Major Mono Display', monospace !important;
}

.name {
    color: white;
    margin: 5px 10px 5px 0px;
    cursor: pointer;
    transition: .4s ease-in-out;
    font-size: 21px;
    font-weight: 700;
    border: 1px solid transparent;
    font-family: 'Major Mono Display', monospace !important;
}

.name:hover {
    color: rgb(250, 75, 250);
    font-weight: 800;
}