<Parallax speed = {7}>
    <ScrollAnimation duration = {2} animateIn="fadeIn" >
    <div className = {styles.about1page}>
            <div className = {styles.tech}>Proficiencies</div>
            <div className = {styles.abtbtm}>
                <div className = {styles.box1}>
                    <img src = "" alt = ""/>
                    <div>React</div>
                    <div className = {styles.list}>Hooks API | Redux | React Router DOM | Material UI</div>
                </div>
                <div className = {styles.box1}>
                    <img src = "" alt = ""/>
                    <div>Frontend</div>
                    <div className = {styles.list}>HTML | CSS | JavaScript | Bootstrap</div>
                </div>
                <div className = {styles.box1}>
                    <img src = "" alt = ""/>
                    <div>Backend</div>
                    <div className = {styles.list}>Node | Express | MongoDB</div>
                </div>
                <div className = {styles.box1}>
                    <img src = "" alt = ""/>
                    <div>Data Structures & Algorithms</div>
                    <div className = {styles.list}>Binary Search | Recursion | Linked Lists</div>
                </div>
            </div>
        </div>
    </ScrollAnimation>
    </Parallax>