.full {
    font-family: 'Major Mono Display', monospace !important;
    justify-content: center;
    text-align: center;
    max-height: 3000px;
}

.particles {
    background: linear-gradient(130deg, rgb(83, 250, 236),  rgb(250, 75, 250));
    min-height: 100vh;
    position: fixed;
    right: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
}

.name {
    font-size: 50px;
    font-family: monospace;
    font-weight: 500;
    padding: 20px;
}

.navright {
    margin-left: auto !important;
}

.navbar{
    width: 100%;
    height: 50px;
    padding: 20px 0px;
    background-color: black;
    display: flex;
    flex-direction: row;
    line-height: 50px;
    font-size: 20px;
}

.navbar > div {
    color: whitesmoke;
    margin: 0px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.navbar > div:hover {
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(250, 75, 250),
    0 0 80px rgb(250, 75, 250),
    0 0 90px rgb(250, 75, 250),
    0 0 100px rgb(250, 75, 250),
    0 0 100px rgb(250, 75, 250);
    font-weight: 600;
    font-size: 22px;
}

.navbtn {
    cursor: pointer !important;
}

.aboutpage {
    margin-top: 70vh;
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.projects1 {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    font-size: 40px;
    margin-bottom: 50px;
}


.about1page {
    margin-top: 100px;
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.abttop {
    text-align: center;
    height: 100px;
}

.abttop > div {
    justify-content: center;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.abtbtm {
    display: flex;
    flex-direction: row;
    height: 90%;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.tech {
    padding-top: 30px;
    font-family: 'Major Mono Display', monospace !important;
    padding-bottom: 20px;
}

.box {
    margin: 40px;
    padding: 10px;
    font-size: 30px;
}

.box1 {
    margin: 40px;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.box1 > img {
    min-width: 150px;
    max-width: 150px;
    border-radius: 75px;
}

.list {
    font-size: medium;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.box > img {
    min-width: 150px;
    max-width: 150px;
    border-radius: 75px;
}

.img {
    height: 150px;
    border-radius: 0px !important;
}

.btn {
    background-color: transparent;
    border: .5px solid black;
    padding: 20px;
    cursor: pointer;
    transition: .5s;
    font-size: 30px;
}

.btn:hover {
    color: black;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(250, 75, 250),
    0 0 80px rgb(250, 75, 250),
    0 0 90px rgb(250, 75, 250),
    0 0 100px rgb(250, 75, 250),
    0 0 100px rgb(250, 75, 250);
    font-size: 20px;
    border: none;
}

.projects {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 0px !important;
}

.card {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px 100px 20px 100px;
}

.cardleft {
    width: 50%;
    margin-top: 40px;
}


.cardleft > img {
    width: 100%;
    transition: 1s ease-out;
    cursor: pointer;
}

.cardright {
    width: 50%;
    padding: 20px;
    transition: 1s ease-out;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 5px;
    justify-content: center;
    margin-left: 0px !important;
    text-align: center;
}


.heading {
    font-size: 35px;
    padding: 20px 0px;
}

.extra {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    justify-content: center;
}

.extra > a {
    padding: 0px 20px 0px 0px;
    color: rgb(250, 75, 250);
    transition: .4s ease-out;
    text-decoration: none;
    border: 1px solid rgb(250, 75, 250);
    padding: 10px;
    border-radius: 5px;
    margin: 0px 10px;
}

.extra > a:hover {
    color: rgb(83, 250, 236);
    border: 1px solid rgb(83, 250, 236);
}

.details {
    display: flex;
    flex-direction: column;
    font-size: large;
    padding: 20px 0px;
}

.smallicons {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    justify-content: center;
}

.smallicons > img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin: 5px 30px 5px 0px;
}

.newbtm {
    display: flex;
    flex-direction: row;
    margin: 100px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.newhead {
    font-family: 'Major Mono Display', monospace !important;
    color: rgb(83, 250, 236);
}

.newvice {
    font-size: 30px;
    padding: 20px 20px;
}

.newtext {
    font-size: 25px;
    padding: 10px 30px;
}

.newextra {
    font-size: 20px;
    margin: 50px 30px 0px 30px;
    border: .5px solid rgb(250, 75, 250);
    padding: 10px;
}

.circlespage {
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.circletop {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.gol {
    background-image: linear-gradient(120deg, rgb(250, 75, 250), rgb(83, 250, 236));
    border-radius: 50%;
    width: 20%;
    height: 200px;
    margin: 20px 40px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.gol > div {
    background-color: black;
    border-radius: 50%;
    font-size: 32px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-top: 20%;
}

.contactme > div > img {
    width: 35px;
}

.contactme > div {
    display: flex;
    flex-direction: row;
    font-family: monospace;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
}

.contactme > div > div {
    line-height: 35px;
    padding: 0px 7px;
    cursor: pointer;
}

.contactme {
    padding: 0px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.block {
    min-height: 40vh;
    margin-top: 20px !important;
    font-family: 'Major Mono Display', monospace !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}

.block > div {
    margin: 0px 30px 80px 30px;
}

.block > div > div {
    transition: .3s ease;
}

.block > div > div:hover {
    font-size: 25px;
}

@media screen and (max-width: 930px) {
    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }

    .navbar > div {
        font-size: smaller;
    }

    .contactme {
        display: flex;
        flex-direction: column;
    }

    .contactme > div {
        margin-top: 20px;
    }

    .projects {
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .cardright {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cardleft {
        width: 100%;
    }

    .projects1 {
        display: none;
    }

    .newbtm {
        display: flex;
        flex-direction: column-reverse;
        font-size: smaller;
    }

    .newright > img {
        width: 300px;
        padding: 0px 0px 20px 0px;
    }

    .contactme > div > img {
        width: 30px;
    }

    .particles {
        min-height: 110vh;
    }
}